html, body, div, header, aside, footer{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
	font-family: sans-serif;
}
#container{
	height: 100%;
	width: 100%;
	background-color: gray;
}
header, footer{
	display: table;
	height: 4%;
	width: 100%;
	/*background-color: gray;*/
	z-index: 1;
	color: white;
	text-shadow: 0px 0px 5px black;
}
header{
	text-align: center;
	font-size: 105%;
	overflow: hidden;
	background-image: linear-gradient(#484848, gray);
}
#header{
	display: table-cell;
	vertical-align: middle;
}
aside{
	display: inline-block;
	position: relative;
	width: 300px;
	overflow: hidden;
	z-index: 1;
	background-image: linear-gradient(gray, #D0D0D0);
	opacity: 0.4;
	transition: opacity 0.4s;
	color: white;
	text-shadow: 0px 0px 5px black;
	border-radius: 0px 0px 10px 10px;
}
aside:hover{
	opacity: 1;
}
fieldset{
	border-radius: 0px 0px 10px 10px;
}
#results{
	padding: 5px;
	color: black;
	text-shadow: none;
	border-bottom: solid 1px #999999;
}
#map-canvas{
	display: table;
	position: absolute;
	top: 4%;
	height: 92%;
	width: 100%;
	text-align: center;
}
#temp{
	vertical-align: middle;
	display: table-cell;
}
footer{
	position: absolute;
	bottom: 0px;
	font-size: 100%;
	background-image: linear-gradient(gray, #484848);
}
footer a{
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 5px black, 0px 0px 2px blue;
}
#footer_left, #footer_right{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 5px;
}
#footer_left{
	text-align: left;
}
#footer_right{
	text-align: right;
}
.visible{
	opacity: 1;
}
